<%- include('layout/header') %>
<div class="col-lg-10">
<h1>Add Country</h1>
    <div class="dashboard-content-area">
       <form method="post" action="/country/add/">
          <div class="mb-3 mt-3 row g-3 align-items-center">
             <div class="col-lg-2"><label class="form-label">Country</label></div>
             <div class="col"><input type="text" name="countryField" class="form-control" placeholder="Country Name"></div>
          </div>
          <div class="mb-5 mt-3 text-center">
             <button type="submit" class="btn btn-primary">Submit</button>
          </div>
       </form>
    </div>
 </div>
<%- include('layout/footer') %>
