<%- include('layout/header') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>All State List</h1>


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Country</th>
                                <th scope="col">State</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                    </thead>
                    <tbody>
                          <tr>
                            <td>India</td>
                            <td>Rajasthan</td>
                            <td><a class="btn btn-primary" href="/state">Add City</a></td>
                          </tr>
                      </tbody>
     
  
                    </table>
                    <div style="text-align: center; margin-top: 20px;">
                        <a href="/state/add" class="btn btn-success btn-md">Add More State</a>
                     </div>
      
                </div>
            </div>

        </div>
    </div>

    <%- include('layout/footer') %>